@import url('https://fonts.googleapis.com/css?family=Charm');

body { 
     font-family: 'Charm', cursive;
     font-size: 1.5em !important;
}

.jumbotron {
    border-radius: 0px !important;
}

.fundo--tomato {
      background-color: #00ced1 !important;
}    